version: '3'
services:

    redis:
        image: redis:latest
        network_mode: "host"
        ports:
            - "6379:6379"
        restart: always

    worker:
        build: .
        env_file: variables.env
        environment:
            - REDIS_HOST=localhost
            - C_FORCE_ROOT=1
        command: [python3, run.py]
        volumes:
            - .:/app
            - /etc/localtime:/etc/localtime
        network_mode: "host"
        depends_on:
            - redis
